<!DOCTYPE html>
<html>
  <head>
    <title>SoatDpv</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render "shared/main" %>
    </header>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <footer>
      <p>Realizado por: David Pulgarin Valencia</p>
      <p>Email: dpv101@utp.edu.co</p>
      <p>Tel: (+57) 320 3497289</p>
    </footer>
  </body>
</html>
